In [2]:
import pandas as pd

In [3]:
users = pd.read_table('u.user', sep='|', header=None, names=['Index', 'Age', 'Sex', 'Occupation', 'ZipCode'], index_col='Index')

In [5]:
users.head()
users.tail()

       Age Sex     Occupation ZipCode
Index
939     26   F        student   33319
940     32   M  administrator   02215
941     20   M        student   97229
942     48   F      librarian   78209
943     22   M        student   77841